@media screen and (min-width:851px)
{body
{
	align-content: center;
	background-color:#965D5E;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
	}}
@media screen and (max-width:850px)
{body
{
	align-content: center;
	background-color:#965D5E;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
	}}